<!DOCTYPE html>
<a class="promotion" href="javascript:void(0)">
  <img
    src="/static/images/promotion.jpg"
    alt="운세가 도움이 되었다면 광고 한 편 봐주기!"
  />
</a>

<div class="social">
  <button class="like">1,490</button>
  <button class="share">공유</button>
</div>

<script>
  function likes(evt) {
    const isLikes = evt.srcElement.classList.contains('active');

    if (isLikes) {
      evt.srcElement.classList.remove('active');
    } else {
      evt.srcElement.classList.add('active');
    }
  }

  function sharing() {
    console.log('#### share');
  }

  document.querySelector('.like').addEventListener('click', likes);
  document.querySelector('.share').addEventListener('click', sharing);
</script>
