@charset "utf-8";

.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.content-title h1 {
  margin-bottom: 33px;
  font-family: 'NotoSansCJKKR-Bold', sans-serif !important;
  font-size: 40px;
  letter-spacing: -0.05em;
}

.content-title p {
  margin-bottom: 40px;
  letter-spacing: -0.05em;
}

.form-wrap {
  margin-bottom: 60px;
}

.middle {
  width: 202px;
}

.small {
  width: 152px;
}

.form-wrap [type='submit'] {
  width: 252px;
  height: 72px;
  margin-left: 12px;
  font-family: 'NotoSansCJKKR-Medium', sans-serif !important;
  font-size: 32px;
  letter-spacing: -0.05em;
  background-color: #ef8526;
  border-radius: 36px;
}

.result-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  margin-bottom: 60px;
  background-color: #f5f5f5;
  box-shadow: 0 5px 5px rgba(228, 228, 228, 0.5);
  border-radius: 9px;
}

.result-title h1 {
  font-size: 32px;
  font-weight: normal;
}

.result-title i {
  display: inline-block;
  width: 94px;
  height: 94px;
  vertical-align: middle;
  background: no-repeat center;
}

i.snake {
  margin-right: 15px;
  background-image: url(/static/images/icon_belt_snake.png);
}

.progress-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-bottom: 60px;
}

.progress-wrap li {
  width: 210px;
  text-align: center;
}

.progress-wrap li:nth-child(-n + 3) {
  margin-bottom: 60px;
}

.progress {
  position: relative;
  height: 210px;
  width: 180px;
  margin: 0 auto 10px;
  cursor: pointer;
}

.progress-circle {
  transform: rotate(-90deg);
  margin-top: -20px;
}

.progress-circle-back {
  fill: none;
  stroke: #f5f5f5;
  stroke-width: 10px;
}

.progress-circle-prog {
  fill: none;
  stroke-width: 10px;
  stroke-dasharray: 0 999;
  stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
  width: 100%;
  position: absolute;
  top: 55px;
}

.progress-text .label {
  display: block;
}

.progress-size {
  text-align: center;
  font-family: 'Roboto-Medium', sans-serif !important;
  font-size: 46px;
  font-weight: normal;
}

.progress-text .percent {
  font-family: 'Roboto-Medium', sans-serif !important;
  font-weight: normal;
  font-size: 24px;
}

.level-min .progress-circle-prog {
  stroke: #cccccc;
}
.level-min .progress-size,
.level-min .percent {
  color: #cccccc;
}

.level-low .progress-circle-prog {
  stroke: #696969;
}
.level-low .progress-size,
.level-low .percent {
  color: #696969;
}

.level-middle .progress-circle-prog {
  stroke: #ffd700;
}
.level-middle .progress-size,
.level-middle .percent {
  color: #ffd700;
}

.level-high .progress-circle-prog {
  stroke: #87cefa;
}
.level-high .progress-size,
.level-high .percent {
  color: #87cefa;
}

.level-max .progress-circle-prog {
  stroke: #ff69b4;
}
.level-max .progress-size,
.level-max .percent {
  color: #ff69b4;
}

.progress-desc {
  display: block;
  font-family: 'NotoSansCJKKR-DemiLight', sans-serif !important;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.05em;
  color: #333;
}

.desc-box a {
  font-family: 'NotoSansCJKKR-DemiLight', sans-serif !important;
  font-size: 24px;
  letter-spacing: -0.05em;
  line-height: 36px;
  color: #1e76ee;
  border-bottom: 2px solid #78adf5;
}

.desc-box i {
  display: inline-block;
  width: 8px;
  height: 16px;
  margin-left: 9px;
  background-image: url(/static/images/icon_more_skyblue.png);
}

.result-type dl {
  box-shadow: 0 7px 10px rgba(228, 228, 228, 0.5);
  border-radius: 9px;
  overflow: hidden;
}

.result-type dt {
  height: 60px;
  font-family: 'NotoSansCJKKR-Medium', sans-serif !important;
  letter-spacing: -0.05em;
  line-height: 60px;
  color: #fff;
  background-color: #333;
}

.result-type dd {
  padding: 25px 0 30px;
  background-color: #f5f5f5;
}

.result-type span {
  display: block;
}

.result-type .type {
  margin-bottom: 20px;
  font-family: 'NotoSansCJKKR-Medium', sans-serif !important;
  font-size: 72px;
  color: #333;
}

.result-type .desc {
  font-family: 'NotoSansCJKKR-DemiLight', sans-serif !important;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.05em;
  color: #333;
}

.ellipsis.line-04 {
  height: 5.6em;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.product .panel {
  border-bottom: 0 none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 24px 0;
}

.destiny-item {
  margin-left: 49px;
  margin-bottom: 55px;
  text-align: center;
}

.destiny-item:nth-child(3n + 1) {
  margin-left: 0;
}

.destiny-item .img-wrap {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
  border-radius: 90px;
  overflow: hidden;
}

.destiny-item a {
  font-family: 'NotoSansCJKKR-DemiLight', sans-serif !important;
  font-size: 24px;
  letter-spacing: -0.05em;
  line-height: 32px;
  color: #1e76ee;
  border-bottom: 2px solid #78adf5;
}

.destiny-item i {
  display: inline-block;
  width: 8px;
  height: 16px;
  margin-left: 9px;
  background-image: url(/static/images/icon_more_skyblue.png);
}
