@charset "utf-8";
.visual {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 280px;
  padding: 0 75px 25px 0;
  background-image: url(/static/images/fortune_visual.png);
}

.container {
  padding-top: 45px;
}

.result-contents {
  margin-bottom: 115px;
}

.user-destiny {
  margin-bottom: 25px;
  text-align: center;
}

.user-destiny,
.user-destiny span {
  font-size: 32px;
  letter-spacing: -0.05em;
  color: #222;
}

.btn-wrap {
  margin-bottom: 50px;
  text-align: center;
}

.btn-wrap button {
  width: 333px;
  height: 64px;
  font-family: 'NotoSansCJKKR-Medium' !important;
  font-size: 24px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #135264;
  border: 2px solid #135264;
  border-radius: 32px;
}

.btn-wrap i {
  display: inline-block;
  width: 11px;
  height: 21px;
  margin-left: 12px;
  vertical-align: -2px;
  background-image: url(/static/images/icon_more_blue.png);
}

.form-wrap {
  margin-bottom: 60px;
}

.form-wrap select {
  width: 192px;
}

.form-wrap .large {
  width: 280px;
}

.form-wrap .input-wrap {
  display: flex;
  align-items: flex-end;
  height: 72px;
  margin-left: 10px;
}

.form-wrap .input-wrap label {
  margin-left: 8px;
  font-size: 24px;
  line-height: 36px;
}

.form-wrap [type='checkbox'] {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  outline: none;
  border: 2px solid #dbdbdb;
}

.form-wrap [type='checkbox']:checked {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  outline: none;
  border: 2px solid #1e6bd6;
}

.form-wrap .submit-wrap {
  text-align: center;
}

.form-wrap [type='submit'] {
  width: 360px;
  height: 72px;
  font-family: 'NotoSansCJKKR-Medium', sans-serif !important;
  font-size: 32px;
  letter-spacing: -0.05em;
  background-color: #135264;
  border-radius: 36px;
}

.article {
  margin-bottom: 32px;
  position: relative;
  padding: 40px 27px;
  background-color: #f5f5f5;
  border-radius: 7px;
}

.article h1 {
  margin-bottom: 30px;
  font-family: 'NotoSansCJKKR-Medium', sans-serif !important;
  font-size: 36px;
  color: #222;
}

.article p {
  width: 480px;
  min-height: 70px;
  font-family: 'NotoSansCJKKR-DemiLight', sans-serif !important;
  line-height: 40px;
  word-break: keep-all;
  letter-spacing: -0.05em;
}
